<footer class="border-top footer text-muted mt-2">
    <div class="container">
        &copy; 2020 - MoneyGo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>