

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">Sobre nosotros</h2>
                        <p>MoneyGo permite llevar un control sobre sus finanzas introduciendo sus gastos e ingresos.</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">Más información</h2>
                        <ul class="list-unstyled">
                            <li><a asp-action="PoliticaCookies" asp-controller="Landing">Política de Cookies</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
@section Scripts{

    <script src="~/js/landing/aos.js"></script>
    <script src="~/js/landing/bootstrap-datepicker.min.js"></script>
    <script src="~/js/landing/bootstrap.min.js"></script>
    <script src="~/js/landing/jquery-3.3.1.min.js"></script>
    <script src="~/js/landing/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/landing/jquery-ui.js"></script>
    <script src="~/js/landing/jquery.countdown.min.js"></script>
    <script src="~/js/landing/jquery.easing.1.3.js"></script>
    <script src="~/js/landing/jquery.fancybox.min.js"></script>
    <script src="~/js/landing/jquery.magnific-popup.min.js"></script>
    <script src="~/js/landing/jquery.stellar.min.js"></script>
    <script src="~/js/landing/jquery.sticky.js"></script>
    <script src="~/js/landing/main.js"></script>
    <script src="~/js/landing/mediaelement-and-player.min.js"></script>
    <script src="~/js/landing/owl.carousel.min.js"></script>
    <script src="~/js/landing/popper.min.js"></script>
    <script src="~/js/landing/slick.min.js"></script>
    <script src="~/js/landing/typed.js"></script>
}