
@{
    String session = Context.Session.GetString("user");
    String userImg = Context.Session.GetString("img");
}

@if (session != null)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoneyGo</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Landing" asp-action="Index">Inicio</a>
                        </li>
                    </ul>
                </div>
                <div>
                    @if (session != null)
                    {
                        @if (userImg.ToLower() == "vacio")
                        {
                            <a asp-action="Control" asp-controller="Managment" class="nav-item">Panel de control</a>
                            <img src="~/Images/UserLogo.svg" class="img-thumbnail float-right" style="width:25%" alt="Imagen del usuario" />
                        }
                        else
                        {
                            <img src="~/Images/@userImg" style="width:5px; height: auto;" alt="Imagen del usuario" />
                        }
                    }

                </div>
            </div>
        </nav>
    </header>
}