@{
    String session = Context.User.FindFirstValue(ClaimTypes.Name);
    String userImg = Context.User.FindFirstValue(ClaimTypes.UserData);
}

@if (Context.User.FindFirst(ClaimTypes.NameIdentifier) != null)
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoneyGo</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Transacciones" asp-action="Index">Inicio</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav flex-grow-1 float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle m-xl-n2" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (userImg == null)
                                {
                                    <img src="~/Images/UserLogo.svg" class="img-thumbnail " style="width:25%" alt="Imagen del usuario" />
                                }
                                else
                                {
                                    <img src="~/Images/@userImg" class="img-thumbnail float-right" style="width:2rem; height:2rem; border-radius:50%" alt="Imagen del usuario" />
                                }
                            </a>


                            <div class="dropdown-menu" aria-labelledby="Menú">
                                <a asp-action="Index" asp-controller="Management" class="dropdown-item">Opciones</a>
                                <a class="text-danger dropdown-item" asp-action="Logout" asp-controller="Identity">Cerrar sesión</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
}