@section navigation{ 

}
<h2>Transacciones</h2>
<h1>Hola mundo, SI ves estio es que has entrado </h1>
@* Vista principal de la app. ¿Mostrar aquí ya las transacciones o crear un boton para ir? *@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
</table>