@model List<Transacciones>
@section navigation{

}
<h2>Transacciones</h2>
<h1>Hola mundo, SI ves estio es que has entrado </h1>
@* Vista principal de la app. ¿Mostrar aquí ya las transacciones o crear un boton para ir? *@
<h4>Saludos para @ViewData["USUARIO"]</h4>
<a asp-action="NuevaTransaccion" asp-controller="Transacciones" asp-id="@ViewData["USUARIO"]" class="btn btn-danger">Nueva transaccion</a>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Transacciones trns in Model)
            {
                <tr>
                    <td>@trns.Cantidad</td>
                </tr>
            }
        </tbody>
    </table>
}