/****** Object:  Database [PROYECTO]    Script Date: 17/02/2021 10:45:42 ******/
CREATE DATABASE [PROYECTO]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[DEPT]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPT_NO] [int] NULL,
	[DNOMBRE] [nvarchar](50) NULL,
	[LOC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTADEPT]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--VISTA CON CASTING A INT32
CREATE VIEW [dbo].[VISTADEPT] AS
SELECT 
CAST(
ISNULL(ROW_NUMBER() OVER(ORDER BY DEPT_NO), 0) AS INT
)
AS POSICION
, ISNULL(DEPT.DEPT_NO, 0) AS DEPT_NO
, DEPT.DNOMBRE, DEPT.LOC FROM DEPT

GO
/****** Object:  Table [dbo].[Transacciones]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[IdTransaccion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Cantidad] [float] NOT NULL,
	[TipoTransaccion] [nvarchar](30) NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[Concepto] [nvarchar](250) NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PAGINARTRANSACCIONES]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PAGINARTRANSACCIONES]
        AS
            SELECT ROW_NUMBER() OVER(ORDER BY IDTRANSACCION)
            AS POSICION
            , Transacciones.* FROM TRANSACCIONES
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[DOCTOR_NO] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[ESPECIALIDAD] [nvarchar](50) NULL,
	[SALARIO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMP_NO] [int] NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[OFICIO] [nvarchar](50) NULL,
	[DIR] [int] NULL,
	[FECHA_ALT] [datetime] NULL,
	[SALARIO] [int] NULL,
	[COMISION] [int] NULL,
	[DEPT_NO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFERMO]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFERMO](
	[INSCRIPCION] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[FECHA_NAC] [datetime] NULL,
	[S] [nvarchar](50) NULL,
	[NSS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[NUM_CAMA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCUPACION]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCUPACION](
	[INSCRIPCION] [int] NULL,
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[CAMA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[SALA_COD] [nvarchar](50) NULL,
	[EMPLEADO_NO] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[FUNCION] [nvarchar](50) NULL,
	[T] [nvarchar](50) NULL,
	[SALARIO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALA](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[SALA_COD] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[NUM_CAMA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] NOT NULL,
	[NombreUsuario] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[password] [varbinary](max) NOT NULL,
	[salt] [nvarchar](max) NOT NULL,
	[ImagenUsuario] [nvarchar](250) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PAGINACIONTRANSACCIONES]    Script Date: 17/02/2021 10:45:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	   
	   CREATE PROCEDURE [dbo].[PAGINACIONTRANSACCIONES]
        (@POSICION INT, @IDUSUARIO int, @REGISTROS INT OUT)
        AS
           SELECT @REGISTROS = COUNT(IdTransaccion) FROM PAGINARTRANSACCIONES where IdUsuario = @IDUSUARIO
	SELECT POSICION, IdTransaccion, IdUsuario, cantidad, FechaTransaccion, TipoTransaccion, Concepto FROM PAGINARTRANSACCIONES
	WHERE POSICION >= @POSICION AND
	POSICION < (@POSICION + 8) and IdUsuario = @IDUSUARIO
GO
