@section Style{
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h1> Política de cookies </h1>
                </div>
                <div class="card-body">
                    <h2> Uso de cookies </h2>
                    <p>
                      Se utilizan cookies propias para almacenar información y mejorar la experienca del usuario.
                        Estas cookies luego se venden a pirtas somalies, espías rusos, espías amerícanos, con PDR SNCHZ y con cualquiera que ofrezca dinero.
                        Si no te gusta AVER ESTUDIAO'.
                        

                    </p>
                    <h3>
                        ¿Qué son las Cookies?
                    </h3>
                    <p>Las cookies son pequeños archivos que los sitios web guardan en el navegador. Al igual que muchos sitios, iVehicle utiliza cookies.</p>
                    <p>Nuestras cookies sirven para poder iniciar sesión automáticamente. No se utilizan cookies propias para otras cosas.</p>

                </div>
            </div>
        </div>
    </div>
</div>
