@section Style{
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @*<link rel="stylesheet" href="~/css/Home.css" />*@

    <link href="~/css/landing/style.css" rel="stylesheet" />
    <style>
        .fondo {
            background-color: #343a40;
            background-image: url("~/wwwroot/Images/hero_1.jpg");
        }
    </style>
}

<div class="site-blocks-cover overlay fondo">
    <div class="row overlay">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header">
                    Recuperar contraseña
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Dirección email" required autofocus>
                            <label for="inputEmail">Dirección email</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar email</button>
                    </form>
                    @if (ViewData["MSG"] != null)
                    {
                        <h4 class="text-danger">@ViewData["MSG"]</h4>
                    }

                </div>
            </div>
        </div>
    </div>

</div>


