@model Usuario

@{
    ViewData["Title"] = "Reset Password";
}

<h1 class="bg-info text-white">Reset Password</h1>
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="ResetPassword" method="post">
    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="repeatPassword" class="form-control" name="passwordConfirm" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>
    
    <input type="hidden" asp-for="Email" class="form-control" />
    <input type="hidden" asp-for="@ViewData["token"]" class="form-control" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>



