@model Usuario
<h1>Index management</h1>

<table class="table table-borderd">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.IdUsuario</td>
            <td>@Model.Nombre</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>