@model Usuario


@if (ViewData["MSG"] != null)
{
    <div class="alert alert-dismissible alert-success" role="alert">
        @ViewData["MSG"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container">
    <div class="row">
        <div class="card bg-light mb-3" style="max-width: 18rem;">

            <div class="card-header">
                @if (Model.ImagenUsuario != null)
                {
                    <img src="~/Images/@Model.ImagenUsuario" class="card-img-top" />
                }
            </div>
            <div class="card-body">
                Hola @Model.NombreUsuario
            </div>

        </div>

    </div>
    <div class="row">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Cambiar imagen de perfil</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <h5 class="card-title">Seleccione una imagen de perfil</h5>
                    <input type="file" name="imagen" class="form-control-file" />
                    <button type="submit" class="btn btn-outline-primary">Cambiar imagen</button>
                </form>

                <p class="card-text">Puedes introducir cualquier imagen con el formato .jpg, .jpeg, .png y .gif.</p>
            </div>
        </div>
    </div>

</div>